<div class="jumbotron text-xs-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>This is your order number:</strong> {{orderID}}</p>
  <p class="lead"><strong>Please check your email</strong> for further details about your order.</p>
  <hr>
  <p class="lead">
    <button class="btn btn-primary btn-sm" routerLink="/user/view-orders" role="button">Go to order details</button>
    &nbsp;
    <button class="btn btn-primary btn-sm" routerLink="/products" role="button">Continue Browsing</button>
  </p>
</div>