<div class="container">
	<div class="row text-center">
	    <div class="col-md-8 offset-md-1">
	        <div class="card">
	            <div class="card-body">
	                <div class="login-title">
	                    <h4>Forgot Password</h4>
	                </div>
	                <div class="login-form mt-2">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <input #emailinput type="text" placeholder="Email" class="form-control">
                                </div>
                            </div>                   
                                
                            <div class="form-row">
                              <button #reset_password_submit type="submit" class="btn btn-success btn-block" (click)="submitted()">Send reset password email</button>
                            </div>
                        </form>
	                </div>
              </div>
              <div #reset_password_mail_sent hidden="true" class="alert alert-success mx-3" role="alert">
                  An email containing your new password has been sent to your email adress
                  <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div #email_not_found hidden="true" class="alert alert-danger mx-3" role="alert">
                No user with this email has been found
              </div>
	        </div>
	    </div>
	</div>
</div>