&nbsp;
<div class="container-fluid pt-1 mt-1">
    <div class="row">
        <div class="col-sm-auto">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <div class="sidebar-heading"></div>
                <div class="list-group list-group-flush">
                    <label class="container"><input type="checkbox" [checked]="false" id="ratings"
                            (click)="filterProducts()"> Highest rated products<span class="checkmark"></span></label>
                    <a *ngFor="let category of categories | async" routerLink="/products/{{ category.name }}"
                        class="list-group-item list-group-item-actiont"
                        [class.active]="category.name === activeCategory">
                        {{ category.name | titlecase }}
                    </a>
                </div>
            </div>
            <!-- /#sidebar-wrapper -->
        </div>
        <div class="col bg-light">
            <div class="row" *ngIf="!userService.isAdmin()">
                <div style="padding-left: 30px; padding-top: 20px" *ngFor="let p of pagedItems">
                    <div class="col">
                        <div class="card" style="width: 15rem">
                            <img class="card-img-top" src="{{p.imageURL}}">
                            <div class="card-body">
                                <h4 class="card-title">{{p.name}}</h4>
                                <p class="card-text">{{p.price}} SEK</p>
                                <p class="card-text">User rating: {{p.rating}}/5</p>
                                <a routerLink="/product-page/{{p.id}}" class="btn btn-primary">Shop</a>
                            </div>
                        </div>
                    </div>
                    <!--div *ngIf="(i+1)%2 === 0" class="w-100"></div-->
                </div>
                <div style="padding-left:330px; padding-top: 20px; padding-bottom: 50px">
                    <ul class="paging">
                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                            <button class="btn btn-lg btn-custom" style="border-width: 1px;border-color: #4285F4" (click)="setPage(1)">First</button>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                            <button class="btn btn-lg btn-custom" style="border-width: 1px;border-color: #4285F4"
                                (click)="setPage(pager.currentPage - 1)">Previous</button>
                        </li>
                        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                            <button class="btn btn-lg btn-custom" style="border-width: 1px;border-color: #4285F4" (click)="setPage(page)">{{page}}</button>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <button class="btn btn-lg btn-custom" style="border-width: 1px;border-color: #4285F4"
                                (click)="setPage(pager.currentPage + 1)">Next</button>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <button class="btn btn-lg btn-custom" style="border-width: 1px;border-color: #4285F4" (click)="setPage(pager.totalPages)">Last</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row" *ngIf="userService.isAdmin()">
                <div style="padding-left: 30px; padding-top: 20px" *ngFor="let p of pagedItems">
                    <div class="col">
                        <div class="card" style="width: 15rem">
                            <img class="card-img-top" src="{{p.imageURL}}">
                            <div class="card-body">
                                <h4 class="card-title">{{p.name}}</h4>
                                <p class="card-text">{{p.price}} SEK</p>
                                <p class="card-text">User rating: {{p.rating}}/5</p>
                                <a routerLink="/admin/products/edit/{{p.id}}" class="btn btn-primary">Edit</a>
                                <button (click)="deleteProduct(p)" style="margin-left: 70px"
                                    class="btn btn-danger">Delete</button>
                            </div>
                        </div>
                    </div>
                    <!--div *ngIf="(i+1)%2 === 0" class="w-100"></div-->
                </div>
                <div style="padding-left:330px; padding-top: 20px; padding-bottom: 50px">
                    <ul class="paging">
                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                            <button class="btn btn-lg btn-custom" style="border-width: 1px;border-color: #4285F4" (click)="setPage(1)">First</button>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                            <button class="btn btn-lg btn-custom" style="border-width: 1px;border-color: #4285F4"
                                (click)="setPage(pager.currentPage - 1)">Previous</button>
                        </li>
                        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                            <button class="btn btn-lg btn-custom" style="border-width: 1px;border-color: #4285F4" (click)="setPage(page)">{{page}}</button>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <button class="btn btn-lg btn-custom" style="border-width: 1px;border-color: #4285F4"
                                (click)="setPage(pager.currentPage + 1)">Next</button>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <button class="btn btn-lg btn-custom" style="border-width: 1px;border-color: #4285F4" (click)="setPage(pager.totalPages)">Last</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>