<div class="bg-light card-body">
  <table class="table table-striped custab">
    <thead>
      <tr>

        <th>Shopping-Cart</th>
        <!--th class="text-center">Action</th-->
      </tr>
    </thead>
    <tr>

      <td>
        <li *ngFor="let chosenProduct of productArray">
          <div style="display: inline-block; padding-bottom: 0.5cm">{{chosenProduct.name}}</div>
          <div style="float: right">
            <div style="padding-right: 5px; display: inline-block"><input type="number" [(ngModel)]="quantity"
                name="quantity" (change)="checkQuantity()" /></div>
            <button class="btn btn-danger" (click)="removeProduct()">Delete</button>
          </div>
        </li>
    </tr>
  </table>
</div>