&nbsp;
<div class="bg-light card-body">
  <table class="table table-striped custab">
    <thead>
      <tr>
        <th>Shopping-Cart</th>
        <!--th class="text-center">Action</th-->
      </tr>
    </thead>
    <tr>
      <td>
        <li *ngFor="let cartItem of productArray">
          <div style="display: inline-block; padding-bottom: 0.5cm">{{cartItem.name}} + {{cartItem.price}} SEK
          </div>
          <div style="float: right">
            <div style="padding-right: 5px; display: inline-block"><input type="number" min="0"
                [(ngModel)]="products[this.cartService.getCartItemIndex(cartItem.id)].Quantity"
                (change)="checkQuantity(cartItem.id)" name="quantity" /></div>
            &nbsp;
            <button class="btn btn-danger" (click)="removeProduct(cartItem.id)" routerLink="/UserCart">X</button>
          </div>
        </li>
        <div class="text" (change)="getTotalPrice()" style="font-size:20px"><b> Total Price:</b>
          {{this.getTotalPrice()}} SEK</div>
        <button class="btn btn-success" routerLink="/user/confirm-address">Proceed to checkout</button>
    </tr>
    <p style="display: inline" *ngIf="quantityEdited">
      <ngb-alert type="custom" class="alert alert-success box-msg" role="alert" [dismissible]="false"
        (visible)="close()"><strong>{{this.alertMessage}}</strong></ngb-alert>
    </p>
  </table>
</div>