<html>
  <head>
    <style>
      pre{
        font-family: sans-serif;
        font-size: large;
      }
    </style>
  </head>
</html>


<div *ngIf="isLoggedIn()" class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-body">
              <div class="text-center">
                  <h6>*For eductional purposes only</h6>
                  <h4>Payment Details</h4>
                </div>
                <div class="login-form mt-2">
                    <form>
                        
                        <div class="form-row">
                            <label class="pl-2" for="register-email">
                                Card Holder Name:
                            </label>
                            <div class="form-group col-md-12">
                                <input [(ngModel)]="name" id="name" name="name" class="form-control" type="text"
                                    placeholder="Name of Card Holder"
                                    required /> 
                            </div>
                        </div>
                        
                        <div class="form-row">
                          <label class="pl-2" for="register-email">
                              Card Number:
                          </label>
                          <div class="form-group col-md-12">
                              <input [(ngModel)]="number" id="number" name="number" class="form-control" type="text"
                                  placeholder="Card Number" maxlength="12"
                                  required />  
                          </div>
                      </div>
                      
                       <h6> &nbsp; &nbsp;  Expiration Date</h6>
                        <div class="row justify-content-between">
                            
                            <div class="col-4">
                              <label class = "pl-2" for = "register-email">
                                &nbsp; Month
                              </label>
                              <div class="form-group col-md-12">
                                  <input [(ngModel)]="month" id="month" name="month" class="form-control" type="text"
                                      placeholder="MM" maxlength="2" 
                                      required /> 
                              </div>
                            </div>
                            
                            <div class="col-4">
                                <label class = "pl-2" for = "register-email">
                                  &nbsp; Year
                                </label>
                                <div class="form-group col-md-12">
                                    <input [(ngModel)]="year" id="year" name="year" class="form-control" type="text"
                                        placeholder="YY" maxlength="2"
                                        required /> 
                                </div>
                            </div>
                            <div class="col-4">
                                <label class = "pl-2" for = "register-email">
                                 &nbsp; CVC
                                </label>
                                <div class="form-group col-md-12">
                                    <input [(ngModel)]="cvv" id="cvv" name="cvv" class="form-control" type="text"
                                        placeholder="CVC" maxlength="3"
                                        required /> 
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class="d-inline login-form mt-2 float-left">
                          <button
                              (click)="submit()"
                              type="submit"
                              routerLink = "/user/confirm-address"
                              class="btn btn-success btn-block">
                              Back
                          </button>
                        </div>
                        <div class="d-inline login-form mt-2 float-right">
                          <button
                              (click)="submitPayment()"
                              type="submit"
                              routerLink = "/user/confirm-order"
                              class="btn btn-success btn-block">
                              Continue
                          </button>
                          <div *ngIf="!isFirstAttempt()" class="text-danger">
                              Must submit all fields with valid details.
                          </div>
                      </div>
                    </form>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>