footer {
    background-color: #4285F4;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.75);
    color: white;
}

#footer-bot {
    background-color: rgb(31, 50, 82);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
}