<!-- Footer -->
<footer class="page-footer font-small unique-color pt-4">

  <!-- Footer Links -->
  <div id="footer-main" class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Stylish</h5>
        <p>Call us on +46 555666777</p>
        <p>Mon-Fre 08.00-17.00</p>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-3">
   
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div id="footer-bot" class="footer-copyright text-center py-3">© 2019 Copyright: Stylish.com
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
