<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a href="#"><img class="navbar-brand" src="https://firebasestorage.googleapis.com/v0/b/stylish-pg5.appspot.com/o/Maybe_Logo_Stylish.png?alt=media&token=49f967c5-812e-4447-910c-361742588e7d" width="70" height="70"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <!-- What is that for ? => <span class="sr-only">(current)</span> -->
    <!-- Unlogged user -->
    <ul class="navbar-nav mr-auto" *ngIf="!authService.isLoggedIn()">
      <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/products">Products</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/login">Log in</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/signup">Sign up</a></li>
    </ul>
    
    <!-- Logged user - not admin -->
    <ul class="navbar-nav mr-auto" *ngIf="authService.isLoggedIn() && !userService.isAdmin()">
      <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/products">Products</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/user/profile">Profile</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/UserCart">My Cart</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/user/view-orders">My Orders</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/" (click)="signOut()">Sign Out</a></li>
    </ul>

    <!-- Admin -->
    <ul class="navbar-nav mr-auto" *ngIf="userService.isAdmin()">
      <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/admin">Admin</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/" (click)="signOut()">Sign Out</a></li>
    </ul>

    <form class="form-inline" (submit)="search()">
      <input
          (input)="query = $event.target.value"
          class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width: 400px">

          <button type="submit" class="btn btn-primary" >
            Search
          </button>

  </form>
  
  </div>
</nav>
