<div class="container">

	<form (ngSubmit)="onSubmit()">
		<br>
		<p class="text-center" id="title">Product Edit Page</p>
		<hr>
		<div class="card">
			<div class="row">
				<aside class="col-sm-5 border-right">
					<article class="gallery-wrap">
						<div class="img-big-wrap">
							<!--Need to change a bit-->
							Insert Image file here:
							<input type="file" (change)="onFileUpload($event)" accept="image/png, image/jpeg"
								class="form-control">
							<br>
							<div>
								<img style="width:450px;height:450px;" src="{{ productData.imageURL }}">
							</div>
						</div>
						<!-- slider-product.// -->
					</article>
					<!-- gallery-wrap .end// -->
				</aside>
				<aside class="col-sm-7">
					<article class="card-body p-5">
						<h3 class="title mb-3" for="prodId">
							<font color="Red">{{ productData.name }}</font>
							<input [(ngModel)]="productData.name" name="name" class="form-control" type="text"
								placeholder="Enter the updated price" />
						</h3>
						<p class="price-detail-wrap">
							<span class="price h3 text-warning">
								<span class="currency">
									<font color="Black">Price in SEK</font>
								</span>
								<input [(ngModel)]="productData.price" name="price" class="form-control" type="text"
									placeholder="Enter the updated price" />
							</span>

						</p>
						<!-- price-detail-wrap .// -->
						<dl class="item-property">
							<dt>Description</dt>
							<dd>
								<input name="description" class="form-control" type="text"
									placeholder="Enter the updated description" [(ngModel)]="productData.description" />
							</dd>
						</dl>
						<dl class="param param-feature">
							<dt>Category</dt>

							<dd>
								<select [(ngModel)]="selectedCategory.name" name="selectedCategory">
									<option>--Select--</option>
									<option *ngFor="let category of categoryDB | async">
										<div style="display: inline-block; padding-bottom: 0.5cm">{{category.name}}
										</div>
									</option>
								</select>
							</dd>
						</dl>
						<!-- item-property-hor .// -->
						<!-- item-property-hor .// -->
						<dl class="param param-feature">
							<dt>Delivery</dt>
							<dd>Only Within Sweden</dd>
						</dl>
						<!-- item-property-hor .// -->
						<hr>
						<div class="row">
							<div class="col-sm-5">
								<dl class="param param-inline">
									<dt>Items remaining: <input id="quantity" name="quantity" class="form-control"
											placeholder="Enter the updated quantity" [(ngModel)]="productData.quantity"
											type="text" /></dt>
								</dl>
								<!-- item-property .// -->
							</div>
							<!-- col.// -->
							<div class="col-sm-7">
								<dl class="param param-inline">
									<dt>Size: <input id="size" name="size" class="form-control"
											[(ngModel)]="productData.size" placeholder="Enter the updated sizes"
											type="text" /></dt>
								</dl>
								<!-- item-property .// -->
							</div>
							<!-- col.// -->
						</div>
						<!-- row.// -->
						<hr>

						<button class="btn btn-success btn-primary text-uppercase" type="submit"> Save Changes </button>
						<label>&nbsp;</label>
						<button class="btn btn-danger btn-primary text-uppercase" routerLink = "/products">Cancel</button>
						<label>&nbsp;</label>
						<label>&nbsp;</label>
						<button class="btn btn-lg btn-primary text-uppercase" (click)="dealOn()">Deal of the
							day</button>
						<label>&nbsp;</label>
						<br>
						<div *ngIf="edited" class="alert alert-success box-msg" role="alert" >
							<strong>{{this.alertMessage}}</strong>
						</div>
					</article>
					<!-- card-body.// -->
				</aside>
				<!-- col.// -->
			</div>
			<!-- row.// -->
		</div>
		<!-- card.// -->

	</form>
</div>
<!--container.//-->

<br>
<br>
<br>