<div class="container-fluid mt-1">
    <div class="row">
        <div class="col-sm-auto">
            <!-- Sidebar -->
            <div class="bg-light border-right" id="sidebar-wrapper">
                <div class="sidebar-heading"></div>
                <div class="list-group list-group-flush" id="thing">
                    <a routerLink="/admin/categories" class="list-group-item list-group-item-action bg-light">Manage Categories</a>
                    <a routerLink="/admin/products/create" class="list-group-item list-group-item-action bg-light">Add a new product</a>
					<a routerLink="/admin/Order-view/status" class="list-group-item list-group-item-action bg-light">View Orders</a>
                    <a routerLink="/products" class="list-group-item list-group-item-action bg-light">Manage Products</a>
                </div>
            </div>
            <!-- /#sidebar-wrapper -->
        </div>
        <div class="col bg-light">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>