#sidebar-wrapper {
    min-height: 100vh;
    margin-left: 0;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
  
  #thing {
    border-style: solid;
    border-color: #AAA;
    border-width: 0px 1px 1px 0px;
    border-radius: 1%;
    box-shadow: 1px 0px 3px 0px rgba(66,66,66,0.46);
  }