&nbsp;
<!--Logged In-->

<div *ngIf="isLoggedIn()" id="card" class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <h4 style="font-size:26px;">Account Info</h4>
          </div>
          <div class="login-form mt-2 text-center">
            <h6 style="font-size:20px;">Email: <span style="color:#465BD1">{{ getEmail() }}</span></h6>
          </div>

          <div class="text-center">
            <p></p>
          </div>

          <div class="text-left">
            <h4 style="font-size:26px;">Address</h4>
          </div>
          <div class="login-form mt-2 text-left">
            <h6 style="font-size:20px;">Name: <span style="color:#465BD1">{{ getName() }}</span></h6>
          </div>
          <div class="login-form mt-2 text-left">
              <h6 style="font-size:20px;">City: <span style="color:#465BD1">{{ getCity() }}</span></h6>
          </div>
          <div class="login-form mt-2 text-left">
              <h6 style="font-size:20px;">Street: <span style="color:#465BD1">{{ getAddress() }}</span></h6>
          </div>
          <div class="login-form mt-2 text-left">
              <h6 style="font-size:20px;">ZIP: <span style="color:#465BD1">{{ getZip() }}</span></h6>
          </div>
          <div class="d-inline login-form mt-2 float-left">
            <a class="edit" routerLink="/user/update-address" style="font-size:14px;">Update Address</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Logged Out-->

<div *ngIf="!isLoggedIn()" id="card" class="container">
  <div class="row">
    <div class="col-md-4 offset-md-1">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <h5>Not Logged In</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

