<!-- ========================= SECTION CONFIRM PRODUCT ========================= -->
<section class="section-content bg padding-y border-top">
  <div class="container">

    <div class="row">
      <main class="col-sm-9">
        <h2>Confirmation of your order:</h2>
        <div class="card">
          <table class="table shopping-cart-wrap">
            <thead class="text-muted">
              <tr>
                <th scope="col">Product</th>
                <th scope="col" width="120">Quantity</th>
                <th scope="col" width="120">Price</th>
              </tr>
            </thead>
            
            <tbody>
                <tr *ngFor="let p of productArray; index as i">
                  <td>{{p.name}}</td>
                  <td>{{cartproducts[i].Quantity}} </td>
                  <td>{{p.price}} SEK</td>
                </tr>
            </tbody>
          
          </table>
        </div> <!-- card.// -->
      </main> <!-- col.// -->
    </div>
  </div> <!-- container .//  -->
</section>

<!-- ========================= SECTION CONFIRM ADDRESS ========================= -->
<br>
<div class="container">
  <div class="row">
    <main class="col-sm-9">
      <h2>Confirmation of your address:</h2>
      <div class="card">
        <table class="table shopping-cart-wrap">
          <thead class="text-muted">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Address</th>
              <th scope="col" width="120">Post Code</th>
              <th scope="col" width="120">City</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ getName() }}</td>
              <td>{{ getAddress() }}</td>
              <td>{{ getZip() }}</td>
              <td>{{ getCity() }}</td>
            </tr>
          </tbody>
        </table>
      </div> <!-- card.// -->

    </main> <!-- col.// -->
  </div>
</div>
<br>
<!-- ========================= SECTION  END// ========================= -->
<!-- ========================= SECTION PURCHASE INFO ========================= -->

<div class="container">
  <div class="row">
    <main class="col-sm-9">
      <h2>Confirmation of your Payement Method:</h2>
      <div class="card">
        <table class="table shopping-cart-wrap">
          <thead class="text-muted">
            <tr>
              <th scope="col">Card Number</th>
              <th scope="col" width="120">Expirancy date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1523***********</td>
              <td>27/04</td>
            </tr>
          </tbody>
        </table>
      </div> <!-- card.// -->

    </main> <!-- col.// -->
    <!-- Aside TOTAL PRICE -->
    <aside class="col-sm-3" style="margin-top: 4%;">
      <dl class="dlist-align">
        <dt>Total price: </dt>
        <dd class="text-right">{{getFinalPrice()}} SEK</dd>
      </dl>
      <dl class="dlist-align h4">
        <dt>Total:</dt>
        <dd class="text-right"><strong>{{getFinalPrice()}} SEK</strong></dd>
      </dl>
      <hr>
      <form>
        <figure class="itemside mb-3">
          <div class="form-group">
            <button (click)="createOrder()" class="btn btn-success"
              style="margin-left: 120%, width= 15px">Confirm & Pay</button>
          </div>
        </figure>
      </form>
    </aside> <!-- col.// -->
    <!-- END OF TOTAL PRICE-->
  </div>
</div>

<!-- ========================= SECTION  END// ========================= -->