
<!--Logged In-->

<div *ngIf="isLoggedIn()" id="card" class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <h4>Shipping Info</h4>
          </div>
          <div class="login-form mt-2 text-center">
            <h6>Email: {{ getEmail() }} </h6>
          </div>

          <div class="text-center">
            <p></p>
          </div>

          <div class="text-left">
            <h4>Address</h4>
          </div>
          <div class="login-form mt-2 text-left">
            <h6>Name: {{ getName() }}</h6>
          </div>
          <div class="login-form mt-2 text-left">
              <h6>City: {{ getCity() }}</h6>
          </div>
          <div class="login-form mt-2 text-left">
              <h6>Street: {{ getAddress() }}</h6>
          </div>
          <div class="login-form mt-2 text-left">
              <h6>ZIP: {{ getZip() }}</h6>
          </div>
          <div class="d-inline login-form mt-2 float-left">
            <a class="edit" routerLink="/user/shipping-address"> Update Shipping Info</a>
          </div>
          <br />
          <br />
          <div class="d-inline login-form mt-2 float-left">
            <button
                (click)="submitAddress()"
                routerLink = "/UserCart"
                type="submit"
                class="btn btn-success btn-block">
                Back
            </button>
          </div>
          <div class="d-inline login-form mt-2 float-right">
            <button
                (click)="submitAddress()"
                routerLink = "/user/payment"
                type="submit"
                class="btn btn-success btn-block">
                Next
            </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Logged Out-->

<div *ngIf="!isLoggedIn()" id="card" class="container">
  <div class="row">
    <div class="col-md-4 offset-md-1">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <h5>Not Logged In</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


