#container {
    background-color: #e5eef9;
    box-shadow: 0px 1px 5px 0px rgba(66,66,66,0.46);
    padding: 1em;
}

#banner {
    width: 100%;
    height: 80px;
    background-color: #4285F4;;
    border-radius: 10px;
    box-shadow: 0px 1px 5px 0px rgba(66,66,66,0.46);
    color: white;
}


