&nbsp;

<div id="container">

  <div id="banner" class="d-flex align-items-center justify-content-center">
    <img src="https://firebasestorage.googleapis.com/v0/b/stylish-pg5.appspot.com/o/deal_of_the_day_2048x2048.png?alt=media&token=02095487-e703-4108-a755-15b977330ebc" width="360px" height="80px">
  </div>

  <app-dailydeals-carousel></app-dailydeals-carousel>
  
</div>
