<navbar></navbar>
<label></label>
<div class="container-fluid pt-5 mt-3">
    <div class="row">
        <!-- <div class="col-sm-auto">
            <sidebar></sidebar>
        </div> -->
        <div class="col bg-light">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<main role="main" class="container">

</main><!-- /.container -->

<app-footer></app-footer>
