&nbsp;
<div><b>View your Orders</b></div>

<div class="bg-light card-body">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Order id</th>
        <th>Date</th>
        <th>Address</th>
        <th>Description</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of orderDB | async" >
      <tr *ngIf="item !== undefined">
          
        <td>{{item?.id}}</td>
        <td>{{item?.datePlaced}}</td>
        <td>{{item?.address}} , {{item?.city}}</td>
        <td>{{item?.description}} </td>
        <td>{{item?.status}}</td>
        
      </tr>
    </tbody>
  </table>
  
  

</div>
