<div class="container">
	<div class="row text-center">
	    <div class="col-md-8 offset-md-2">
	        <div class="card">
	            <div class="card-body">
	                <div class="login-title">
	                    <h4>Log In</h4>
	                </div>
	                <div class="login-form mt-2">
                        <form>
                            <div class="form-row">
                                <label class="pl-2" for="signin-email">
                                    Email :
                                </label>
                                <div class="form-group col-md-12">
                                    <input id="signin-email" name="signin-email" placeholder="Email" class="form-control" type="text"
                                        [value]="email"
                                        (input)="email = $event.target.value"
                                        required />
                                </div>
                                
                                <label class="pl-2" for="signin-password">
                                    Password :
                                </label>
                                <div class="form-group col-md-12">
                                    <input id="signin-password" name="signin-password" placeholder="Password" class="form-control" type="password"
                                        [value]="password"
                                        (input)="password = $event.target.value"
                                        required />
                                </div>
                            </div>
                            <div class="form-row">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me"> Remember Me
                                </label>
                            </div>                        
                                
                            <div class="form-row">
                                <button
                                    type="submit"
                                    class="btn btn-success btn-block"
                                    (click)="logIn()">
                                    Log in
                                </button>
                            </div>
                        </form>
	                </div>
                    <div class="text-right mt-2">
                        <a [routerLink]="['/forgot-password']">Forgot Password ?</a>

                    </div>
                    <!-- TODO
                    <div class="text-right mt-2">
	                    <a>Resend confirmation email link</a>
                    </div>
                    -->
                </div>
                
                <div #user_not_found class="alert alert-danger mx-3" hidden="true">
                    No user with this email has been found
                </div>
                <div #wrong_password class="alert alert-danger mx-3" hidden="true">
                    Wrong password
                </div>
                <div #unverified_email class="alert alert-danger mx-3" hidden="true">
                    The email has not been verified. Please click the confirmation link in the email you received.
                </div>
	        </div>
	    </div>
	</div>
</div>