<div class="col-md-4 bg-light card-body">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="text" class="col-12 col-form-label">Name</label>
      <div class="col-12">
        <label>
          <input #categoryname type="text" formControlName="name" required name="" [(ngModel)]="users.name">
        </label>
        <div *ngIf="submitted && profileForm.controls.name.errors" class="error">
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-12">
        <button name="submit" type="submit" value="Submit" class="btn btn-primary btn-sm">Add New Category</button>
      </div>
    </div>
  </form>
</div>


<div class="bg-light card-body">
  <table class="table table-striped custab">
    <thead>
      <tr>

        <th>Title</th>
        <!--th class="text-center">Action</th-->
      </tr>
    </thead>
    <tr>

      <td>
        <li *ngFor="let item of prodDB | async"><div style="display: inline-block; padding-bottom: 0.5cm">{{item.name}}</div>
          
       <div style="float:right" ><button (click) = "deleteCategory(item)" class="btn btn-danger" >Delete</button></div></li>
      </td>


    </tr>

  </table>
</div>