
<div id="container">
  <div ng2-carouselamos class="slides-wrapper"
    [items]="items"
    [width]="900"
    [$prev]="prev"
    [$next]="next"
    [$item]="item">
  </div>

  <ng-template #prev>
    <img src="../../../assets/images/left-arrow.png" id="left">
  </ng-template>

  <ng-template #next>
      <img src="../../../assets/images/right-arrow.png" id="right"> 
  </ng-template>

  <ng-template #item let-item let-i="index">

    <div class="items">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ items[i].imageURL }}"  alt="Card image cap">
        <!-- {{ items[i].imageURL }} to be added to above src -->
        <div class="card-body">
          <h5 class="card-title">{{ items[i].name }}</h5>
          <p class="card-text">{{ items[i].price }} SEK</p>
          <a href="#" class="btn btn-primary" routerLink="/product-page/{{ items[i].id }}">Shop</a>
        </div>
      </div>
    </div>

  </ng-template>

</div>