#container {
    width: 100%;
    min-width: 300px;
    margin: 2em auto 15em auto;
    padding: 0;
    background: #fff;
    border: 1px solid #eee;
    height: 100%;
}

.items {
    max-width: 300px;
    height: 480px;
    background: #ececec;
    padding: 0 5px 0 5px;
}

#left, #right {
    margin: 20px;
}