<label></label>

    <div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <h4 style="font-size:26px;">Order Info nr:  {{order.id}}</h4>
                    </div>
                    <div class="login-form mt-2 text-center">
                        <h6 style="font-size:20px;">Email: <span style="color:#0d4bad">{{ order.email }}</span></h6>
                    </div>

                    <div class="text-center">
                        <p></p>
                    </div>

                    <div class="text-left">
                        <h4 style="font-size:26px;">Address</h4>
                    </div>
                    <div class="login-form mt-2 text-left">
                        <h6 style="font-size:20px;">Name: <span style="color:#0d4bad">{{ order.name }}</span></h6>
                    </div>
                    <div class="login-form mt-2 text-left">
                        <h6 style="font-size:20px;">City: <span style="color:#0d4bad">{{ order.city }}</span></h6>
                    </div>
                    <div class="login-form mt-2 text-left">
                        <h6 style="font-size:20px;">Street: <span style="color:#0d4bad">{{ order.address }}</span></h6>
                    </div>
                    <div class="login-form mt-2 text-left">
                        <h6 style="font-size:20px;">Date placed: <span style="color:#0d4bad">{{ order.datePlaced }}</span></h6>
                    </div>
                    <div class="login-form mt-2 text-left">
                        <h6 style="font-size:20px;">Status <span style="color:#0d4bad">{{ order.status }}</span></h6>
                    </div>
                    <div class="login-form mt-2 text-left">
                        <h6 style="font-size:20px;">Description <span style="color:#0d4bad">{{ order.description }}</span></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

