<div><label></label></div>
<h1>Orders: {{orders.length}}</h1>
<div><b>Manage the orders from here</b></div>
<table class="table">
    <thead>
    <tr>
        <th>OrderID</th>
        <th>Customer</th>
        <th>Address</th>
        <th>City</th>
        <th>Order Placed</th>
        <th>Current Status</th>
        <th>Manage Status</th>
        <th>Action</th>
        <th>View Order</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let c of orders">
        <td>{{c.id}}</td>
        <td>{{c.name}}</td>
        <td>{{c.address}}</td>
        <td>{{c.city}}</td>
        <td>{{c.datePlaced}}</td>
        <td> {{c.status}}</td>
        <td>
            <label class="pl-2" for="status">
                <select id="status" class="form-control" [value]="c.status" (change)="statusChanged(c, $event)">
                    <option value="Ordered">Ordered</option>
                    <option value="Shipped">Shipped</option>
                    <option value="Delivered">Delivered</option>
                </select>
            </label>
        </td>
        <td>
            <button (click)="submit(c)" class="btn btn-success btn-block">Submit</button>
        </td>
        <td><a routerLink="/admin/order-details/orderId/{{c.id}}" class="btn btn-primary">View</a></td>
    </tr>
    </tbody>
</table>
