<div class="container-fluid">
    <div class="row">
        <div class="col bg-light">
            <div class="container card mt-1">
                <div class="wrapper row">
                    <div class="preview col-md-6">

                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-1">
                                <img src="{{ product.imageURL }}" />
                                <div *ngIf="!product.imageURL"><span>Image is not available for this product!</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="details col-md-6">
                        <h3 class="product-title">{{ product.name }}</h3>
                        <b>Product Description</b>
                        <p class="product-description">{{ product.description }}</p>
                        <p class="product-description"><b>Size:</b> {{ product.size }}<br />
                            <b>In Stock:</b> {{product.quantity}}</p>
                        <h4 class="price"><b>Price:</b> <span>{{product.price}} SEK</span></h4>
                        <div class="action">
                            <button class="add-to-cart btn btn-default" type="button" (click)="addToCart()">Add to
                                cart</button>
                            <p style="display: inline" *ngIf="quantityEdited">
                                <ngb-alert type="warning" [dismissible]="false" (visible)="close()">
                                    {{this.alertMessage}}</ngb-alert>
                            </p>
                            <br><br>
                            <b> How would you rate this product - current is {{ product.rating }}</b>
                            <br>
                            <div class="rating">
                                <input type="radio" id="star5" name="rating" value="5"
                                    (click)="validateRating(5)" /><label for="star5" title="Very Good">5 stars</label>
                                <input type="radio" id="star4" name="rating" value="4"
                                    (click)="validateRating(4)" /><label for="star4" title="Good ">4 stars</label>
                                <input type="radio" id="star3" name="rating" value="3"
                                    (click)="validateRating(3)" /><label for="star3" title="Average">3 stars</label>
                                <input type="radio" id="star2" name="rating" value="2"
                                    (click)="validateRating(2)" /><label for="star2" title="Pretty bad">2 stars</label>
                                <input type="radio" id="star1" name="rating" value="1"
                                    (click)="validateRating(1)" /><label for="star1" title="Really bad">1 star</label>
                            </div>
                            
                        </div>
                        <div #rated hidden="true" class="alert alert-success mx-1" role="alert">
                            Successfully rated product {{ userRate }} stars
                            <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div #error hidden="true" class="alert alert-danger mx-1" role="alert">
                            You have already voted!
                            <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div #errorBought hidden="true" class="alert alert-danger mx-1" role="alert">
                            You haven't bought this product!
                            <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
                                <span aria-hidden="true">&times;</span>
                            </button>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>