<div class="container">

    <form (ngSubmit)="onSubmit()" #productForm="ngForm">
        <br>
        <p class="text-center" id="title">Create Product Page</p>
        <hr>
        <div class="card">
            <div class="row">
                <aside class="col-sm-5 border-right">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            <!--Need to change a bit-->
                            Insert Image file here:
                            <span style="color:red;" *ngIf="message">{{message}}</span>
                            <input #file type="file" name="image" [(ngModel)]="product.imageURL"
                                (change)="preview(file.files)" (change)="onFileUpload($event)" accept="image/*"
                                class="form-control" />
                            <img [src]="imgURL" style="width:460px;height:480px;" *ngIf="imgURL">
                            <br>
                        </div>
                        <!-- slider-product.// -->
                    </article>
                    <!-- gallery-wrap .end// -->
                </aside>
                <aside class="col-sm-7">
                    <article class="card-body p-5">
                        <dl class="item-property">
                            <dt>Product Name</dt>
                            <dd>
                                <input id="name" name="name" class="form-control" [(ngModel)]="product.name"
                                    placeholder="Enter the name of the product" type="text" rows="4" cols="30">
                            </dd>
                        </dl>
                        <p class="price-detail-wrap">
                            <span class="price h3 text-warning">
                                <span class="currency">
                                    <font color="Black">Price in SEK</font>
                                </span>
                                <input id="price" name="price" class="form-control" type="number"
                                    [(ngModel)]='product.price' placeholder="Enter the price of the product" min="1">
                            </span>

                        </p>
                        <!-- price-detail-wrap .// -->
                        <dl class="item-property">
                            <dt>Description</dt>
                            <dd>
                                <input id="description" name="description" class="form-control"
                                    [(ngModel)]="product.description"
                                    placeholder="Enter a brief description about the product" type="text" rows="4"
                                    cols="30">
                            </dd>
                        </dl>
                        <dl class="param param-feature">
                            <dt>Category</dt>

                            <dd>
                                <select [(ngModel)]="selectedCategory.name" name="selectedCategory"
                                    id="selectedCategory">
                                    <option>--Select--</option>
                                    <option *ngFor="let category of categoryDB | async">
                                        {{category.name}}
                                    </option>
                                </select>
                            </dd>
                        </dl>
                        <!-- item-property-hor .// -->

                        <!-- item-property-hor .// -->
                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <dl class="param param-inline">
                                    <dt>Items remaining: <input id="quantity" name="quantity" class="form-control"
                                            placeholder="Enter the number of products" [(ngModel)]="product.quantity"
                                            type="number" min="1"></dt>
                                </dl>
                                <!-- item-property .// -->
                            </div>
                            <!-- col.// -->
                            <div class="col-sm-7">
                                <dl class="param param-inline">
                                    <dt>Size: <input id="size" name="size" class="form-control"
                                            [(ngModel)]="product.size" placeholder="Enter the product size" type="text">
                                    </dt>
                                </dl>
                                <!-- item-property .// -->
                            </div>
                            <!-- col.// -->
                        </div>
                        <!-- row.// -->
                        <hr>

                        <div *ngIf="!isAllFields()" class="alert alert-danger box-msg" role="alert">
                            <strong>Fields Missing!</strong> Please fill all fields.
                        </div>
                        <button class="btn btn-lg btn-primary text-uppercase" type="submit"> Save Changes </button>
                        <label>&nbsp;</label>
                        <button class="btn btn-lg btn-outline-primary text-uppercase" routerLink="/admin">Cancel
                        </button>

                        <div *ngIf="isSuccess" class="alert alert-success box-msg" role="alert">
                            <strong>Product Created!</strong> Product successfully created.
                        </div>


                    </article>
                    <!-- card-body.// -->
                </aside>
                <!-- col.// -->
            </div>
            <!-- row.// -->
        </div>
        <!-- card.// -->

    </form>
</div>
<!--container.//-->

<br>
<br>
<br>