<!--

    Functionality still missing, as well as updating form related things.
    Component is currently all html and will have the TS files updated.

-->

<!--Unsubmitted Form-->

<div *ngIf="!hasBeenSubmitted()" class="container">
  <div class="row">
      <div class="col-md-8 offset-md-2">
          <div class="card">
              <div class="card-body">
                    <div class="text-right">
                        <button type="button" class="btn btn-danger" (click)="openModal()">X</button>
                    </div>
                  <div class="login-title text-center">
                      <h4>Update Name</h4>
                  </div>
                  <div class="login-form mt-2">
                      <form> 
                          <div class="form-row">
                              <label class="pl-2" for="register-email">
                                  Name:
                              </label>
                              <div class="form-group col-md-12">
                                  <input [(ngModel)]="name" id="name" name="name" class="form-control" type="text"
                                      placeholder="First and last name"
                                      required /> 
                              </div>
                          </div>
                          <div class="login-title text-center">
                            <h4>Update Address</h4>
                          </div>        
                            <div class="form-row">
                                    <label class="pl-2" for="register-email">
                                        Street Address:
                                    </label>
                                    <div class="form-group col-md-12">
                                        <input [(ngModel)]="address" id="street" name="street" class="form-control" type="text"
                                            placeholder="Your street address (also apt# if applicable)"
                                            required />
                                    </div>
                            </div>
                            <div class="form-row">
                                <label class="pl-2" for="register-email">
                                    City:
                                </label>
                                <div class="form-group col-md-12">
                                    <input [(ngModel)]="city" id="city" name="city" class="form-control" type="text"
                                        placeholder="Your city"
                                        required />
                                </div>
                            </div>
                            <div class="form-row">
                                    <label class="pl-2" for="register-email">
                                        ZIP Code:
                                    </label>
                                    <div class="form-group col-md-12">
                                        <input [(ngModel)]="zip" id="zip" name="zip" class="form-control" type="text"
                                            placeholder="ZIP"
                                            required />
                                            <div *ngIf="!isValidZip() && !isFirstAttempt()" class="text-danger">Zip should contain exactly 5 digits (no other characters)</div>
                                    </div>
                            </div> 
                            <div *ngIf="!isFirstAttempt()" class="text-danger">
                                Must submit either name field, the three address fields, or both.
                            </div>      
                          <div class="form-row">
                              <button
                                  (click)="submitAddress()"
                                  type="submit"
                                  class="btn btn-success btn-block">
                                  Update
                              </button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!--Form Submitted Notification-->

<div *ngIf="hasBeenSubmitted()" id="card" class="container">
    <div class="row">
        <div class="col-md-8 offset-md-1">
            <div class="card">
                <div class="card-body">
                    <div class="text-right">
                        <button type="button" class="btn btn-danger" routerLink="/user/profile">X</button>
                    </div>
                    <div class="text-center">
                        <h5>Information Successfully Updated!</h5>
                    </div>
                    <div class="text-center">
                        <p><!--Dummy Div to make spacing look better. I don't know what I'm doing.--></p>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>
