<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <div class="login-title text-center">
                        <h4>Register</h4>
                    </div>
                    <div class="login-form mt-2">
                        <form [formGroup]="register" (ngSubmit)='signUp()'>
                            <div class="form-row">
                                <label class="pl-2" for="register-email">
                                    Email :
                                </label>
                                <div class="form-group col-md-12">
                                    <input id="register-email" name="register-email" class="form-control" type="text"
                                        formControlName="email"
                                        placeholder="Enter your e-mail address"
                                        required />
                                    <div *ngIf="haveBeenSubmitted || (email.touched || email.dirty) && email.invalid" class="text-danger">
                                        <div *ngIf="email.errors?.required">Email is required.</div>
                                        <div *ngIf="email.errors?.email && !email.errors?.required">Invalid email.</div>
                                    </div>
                                </div>
                                
                              
                                
                                <label class="pl-2" for="signin-password">
                                    Password :
                                </label>
                                <div class="form-group col-md-12">
                                    <input id="register-password" name="register-password" class="form-control" type="password"
                                        formControlName="password"
                                        placeholder="Enter password"
                                        required />
                                    <div *ngIf="haveBeenSubmitted || (password.touched || password.dirty) && password.invalid" class="text-danger">
                                        <div *ngIf="password.errors?.required">Password is required.</div>
                                        <div *ngIf="password.errors?.minlength">The password must have 6 characters at least.</div>
                                    </div>
                                </div>

                                <label class="pl-2" for="signin-verify">
                                    Confirm Password :
                                </label>
                                <div class="form-group col-md-12">
                                    <input id="register-verify" name="register-verify" class="form-control" type="password"
                                        formControlName="verify"
                                        placeholder="Re-enter password"
                                        required />
                                    <div *ngIf="haveBeenSubmitted || (verify.touched || verify.dirty) && verify.invalid" class="text-danger">
                                        <div *ngIf="verify.errors?.required">Confirm Password is required.</div>
                                        <div *ngIf="verify.errors?.mismatch">Passwords must be the same</div>
                                    </div>
                                </div>
                            </div>              
                                
                            <div class="form-row">
                                <button
                                    type="submit"
                                    class="btn btn-success btn-block">
                                    Sign up
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                
                <div #confirmation_email_sent class="alert alert-info mx-3" hidden="true">
                    A confirmation link has been sent to your email. Please click on it before logging in.
                </div>
            </div>
        </div>
    </div>
</div>