<!--

    Functionality still missing, as well as updating form related things.
    Component is currently all html and will have the TS files updated.

-->

 <div *ngIf="!hasBeenSubmitted()" class="container">
    <div class="row">
        <div class="col-md-8 offset-md-1">
            <div class="card">
                <div class="card-body">
                    <div class="text-right">
                        <button type="button" class="btn btn-danger" (click)="openModal()">X</button>
                    </div>
                    <div class="login-title text-center">
                        <h4>Update Password</h4>
                    </div>
                    <div class="login-form mt-2">
                        <form> 
                            <div class="form-row">
                                <label class="pl-2" for="register-email">
                                    Old Password:
                                </label>
                                <div class="form-group col-md-12">
                                    <input [(ngModel)]="oldPass" id="verify-old-password" name="verify-old-password" class="form-control" type="password"
                                        placeholder="Enter your old password"
                                        required />
                                    <div *ngIf="shouldDisplayOldPassError()" class="text-danger">Incorrect password</div>
                                </div>
                                
                                
                                
                                <label class="pl-2" for="signin-password">
                                    New Password:
                                </label>
                                <div class="form-group col-md-12">
                                    <input [(ngModel)]="newPass" id="enter-new-password" name="enter-new-password" class="form-control" type="password"
                                        placeholder="Enter a new password"
                                        required />
                                    <div *ngIf="!isValidNewPass() && !isFirstAttempt()" class="text-danger">Password must contain at least six characters</div>
                                </div>

                                <label class="pl-2" for="signin-verify">
                                    Confirm New Password:
                                </label>
                                <div class="form-group col-md-12">
                                    <input [(ngModel)]="confirmNewPass" id="verify-new-password" name="verify-new-password" class="form-control" type="password"
                                        placeholder="Re-enter your new password"
                                        required />
                                    <div *ngIf="!confirmPassMatches() && !isFirstAttempt()" class="text-danger">Passwords do not match</div>
                                </div>
                            </div>              
                                
                            <div class="form-row">
                                <button
                                    (click)="submit()"
                                    type="submit"
                                    class="btn btn-success btn-block">
                                    Update Password
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

<!--Form Submitted Notification-->

<div *ngIf="hasBeenSubmitted()" id="card" class="container">
        <div class="row">
            <div class="col-md-8 offset-md-1">
                <div class="card">
                    <div class="card-body">
                        <div class="text-right">
                            <button type="button" class="btn btn-danger" routerLink="/user/profile">X</button>
                        </div>
                        <div class="text-center">
                            <h5>Password Successfully Changed!</h5>
                            <h6>You will receive a confirmation email shortly.</h6>
                        </div>
                        <div class="text-center">
                            <p><!--Dummy Div to make spacing look better. I don't know what I'm doing.--></p>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
    