.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background:#e5e5e5;
    color: #b2abad;
}

input[type=search] {
    background: #cbcfd6 url(http://hp-proliant.co.uk/qual_images/mob-search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 5px 1px 7px 4px;
    width: 60px;
}
input[type=search]:focus {
    width: 600px;
    background-color: #ccc;
    border-color: #333;
    border: solid 1px #fff;
}
.items {
    max-width: 300px;
    height: 350px;
    background: #ececec;
    padding: 0 5px 0 5px;
}
