<div class="row">
    <ng-container *ngFor="let p of filteredProducts; let i = index">
        <div class="col">
            <div class="card" style="width: 15rem;">
                <img class="card-img-top" src="{{ p.imageURL }}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{ p.name }}</h5>
                <p class="card-text">{{ p.price }} SEK</p>
                <!--a href="#" class="btn btn-primary">Shop</--a-->
                    <a href="#" class="btn btn-primary" routerLink="/product-page/{{ p.id }}">Shop</a>
                </div>
            </div>
        </div>
        <div *ngIf="(i + 1) % 8 === 0" class="w-100"></div>
    </ng-container>
</div>
  <!--
  <table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of filteredProducts">
            <td>{{p.name }}</td>
            
            <td>{{p.price }}</td>
        </tr>
    </tbody>
</table>
-->
